{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Login{% endblock %}

{% block bodyAttr %}class="bg-dark"{% endblock %}

{% block sidevnav %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                <form method="POST" action="{{ path('login') }}">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input class="form-control" id="username" type="text" name="_username" value="{{ last_username }}" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" id="password" type="password" name="_password" placeholder="Password">
                    </div>
                    <input type="submit" class="btn btn-primary btn-block" href="index.html" value="Login">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" href="{{ path('user_registration') }}">Register</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}