{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Register{% endblock %}

{% block bodyAttr %}class="bg-dark"{% endblock %}

{% block sidevnav %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">Register</div>
            <div class="card-body">
                {{ form_start(form) }}
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                {{ form_row(form.firstName, {'attr' : {'placeholder' : 'First name'}}) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.lastName, {'attr' : {'placeholder' : 'Last name'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                {{ form_row(form.username, {'attr' : {'placeholder' : 'Username'}}) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.plainPassword, {'attr' : {'placeholder' : 'Password'}}) }}
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary btn-block" value="Register">
                {{ form_end(form) }}
                <div class="text-center">
                    <a class="d-block small mt-3" href="{{ path('login') }}">Login</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
