{% extends 'base.html.twig' %}

{% block title %}Notification index{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> List Notifcations</div>
                <div class="card-body">
                    {% if notifications|length > 0 %}
                        <ul>
                            {% for notification in notifications %}
                                <li>{{ notification.message }}
                                    {% if notification.usergroup.status == 'Pending' and notification.usergroup.group.owner == app.user %}
                                        <a href="{{ path('group_accept', {'id' : notification.usergroup.id }) }}"> Accept</a> -
                                        <a href="{{ path('group_refuse', {'id' : notification.usergroup.id }) }}"> Refuse</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>You dont have any notifications</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
