<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="{{ path('group_search') }}">TestGroup</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('group_search') }}">
                    <i class="fa fa-fw fa-search"></i>
                    <span class="nav-link-text">Search Group</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('group_index') }}">
                    <i class="fa fa-fw fa-users"></i>
                    <span class="nav-link-text">List Groups</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('group_new') }}">
                    <i class="fa fa-fw fa-plus"></i>
                    <span class="nav-link-text">New Group</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('notification_index') }}">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Notifications</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="{{ path('logout') }}" class="nav-link">
                    <i class="fa fa-fw fa-sign-out"></i>Logout
                </a>
            </li>
        </ul>
    </div>
</nav>