{{ form_start(form) }}
    {{ form_row(form.name, {'attr' : {'placeholder' : 'Name'}}) }}
    {{ form_row(form.type, {'attr' : {'placeholder' : 'Type'}}) }}
    <button class="btn btn-primary btn-block">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}