{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Dashboard{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> Search Group
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">&nbsp;</div>
                        <div class="col-md-6">
                            <form method="get" action="{{ path('group_search') }}">
                                <div class="form-group">
                                    <label for="group_name" class="form-control-label required">Search</label>
                                    <input name="key" required="required" placeholder="Search group (name, type)" class="form-control" type="text" value="{{ key }}">
                                </div>
                                <button name="search" class="btn btn-primary btn-block">Search !</button>
                            </form>
                            <hr>
                            {% if groups %}
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Number of mumbers</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for group in groups %}
                                            <tr>
                                                <td>{{ group.id }}</td>
                                                <td>{{ group.name }}</td>
                                                <td>{{ group.type }}</td>
                                                <td>{{ group.count }}</td>
                                                <td>
                                                    <a href="{{ path('group_show', {'id': group.id}) }}">show</a>&nbsp;
                                                    <a href="{{ path('group_join', {'id': group.id}) }}">join</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                {% if key %}
                                    <h6>No groups found</h6>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
        </div>
    </div>

{% endblock %}