{% extends 'base.html.twig' %}

{% block title %}Group{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> Group
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <td>{{ group.name }}</td>
                            </tr>
                            <tr>
                                <th>Type</th>
                                <td>{{ group.type }}</td>
                            </tr>
                            <tr>
                                <th>Administrator</th>
                                <td>{{ group.owner }}</td>
                            </tr>
                            <tr>
                                <th>CreatedAt</th>
                                <td>{{ group.createdAt ? group.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Number of members</th>
                                <td>{{ group.count }}</td>
                            </tr>
                        </tbody>
                    </table>

                    {% if usersGroup|length  %}
                    <h1>Members of Group : {{ group.name }}</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Name</td>
                            </tr>
                        </thead>
                        <tbody>
                        {% for ug in usersGroup %}
                            <tr>
                                <td>{{ ug.id }}</td>
                                <td>{{ ug.user }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                    <a class="btn btn-primary" href="{{ path('group_index') }}">back to list</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}