<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Welcome TestGroup!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap core CSS-->
            <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
            <!-- Custom fonts for this template-->
            <link href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
            <!-- Custom styles for this template-->
            <link href="{{ asset('css/sb-admin.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body {% block bodyAttr %}class="fixed-nav sticky-footer bg-dark" id="page-top"{% endblock %}>

        {% block sidevnav %}
            {% include 'layouts/navbar.html.twig' %}
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            {% include 'layouts/footer.html.twig' %}
        {% endblock %}

        {% block javascripts %}
            <!-- Bootstrap core JavaScript-->
            <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
            <!-- Core plugin JavaScript-->
            <script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
